extends ../base

block content
    if errerMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password", name="oldPassword", type="password", required)
        input(placeholder="New Password", name="newPassword", type="password", required)
        input(placeholder="New Password Confirmation", name="newPasswordConfirmation", type="password", required)
        input(value="Change Password", type="submit")